/* html {
    background-color: #202020;
    max-width: 1366px;
    max-height: 768px;
    margin: auto;
} */

/* body {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
} */

/* aside img{
    width: 683px;
    height: 100%;
    padding: 20px;
}
 */
