@font-face {
    font-family: Dalek;
    src: url("Assets/dalek/DALEK___.ttf");
}

@font-face {
    font-family: Gelio;
    src: url("Assets/gelio/Gelio\ Pasteli.ttf");
}

@font-face {
    font-family: Gelio-Bold;
    src: url("Assets/gelio/Gelio\ Retsina.ttf");
}

body li {
    list-style-type: none;
    flex: 1;
    padding: 3px;
}

h2 {
    margin-block-start: 20px;
    margin-block-end: 5px;
    font-family: Dalek;
    color: white;

}

ul {
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-family: Gelio;
}

html {
    background-color: #F89938;
    max-width: 1366px;
    max-height: 768px;
    text-align: center;
    animation: smooth-grad 10s linear infinite;
    background: linear-gradient(90deg, 
    #f89938 0%, #1a0501 25%,
    #f89938 50%, #1a0501 75%,
    #f89938 100%);
    background-size: 1000% 100%;

}


a {
    color: white;
    text-decoration: none;
    font-family: Gelio;
    font-size: 15px;
}

a:hover {
    color: #282B2C;
    text-decoration: none;
    font-family: Gelio-Bold;
    font-size: 20px;
    transition-duration: 1s;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 133px;
    padding-right: 133px;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

main div {
    width: 330px;
    height: 400px;
    background-image: url("Assets/card.png");
    background-size: 100% 90%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px 45px;
}

footer {
    text-align: center;
}

#banner {
    max-width: 1100px;
    height: 250px;
    background-color: bisque;
    background-image: url("Assets/banner-image.png");
    margin: auto;
    margin-bottom: 34px;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: black ;
    margin-top: 34px;
}

#banner:hover {
    max-width: 1100px;
    height: 250px;
    background-color: bisque;
    background-image: url("Assets/greek.gif");
    cursor: default;
    margin: auto;
    margin-bottom: 34px;
    border: 4px solid white;
    border-radius: 5px;
    box-shadow: black;
    animation: replay-gif 14s steps(2) infinite;
    margin-top: 34px;
}

@keyframes replay-gif {
    0% {
        background-image: url("Assets/greek.gif");
    }

    100% {
        background-image: url("Assets/greek.gif");
    }
}

@keyframes smooth-grad {
    0% {background-position-x: 0%;}
    100% {background-position-x: 100%;}
}

footer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    margin-bottom: auto;
}